<h1>Welcome <%= @user.username %></h1>

<h3>Current Balance</h3>

  <p>
    <input type="text" value="<%= @user.balance %>">
    <a href="/deposit">Deposit</a> <a href="/withdraw">Withdraw</a>
  </p>

  <p>We are currently working on your account.</p>
<p><a href="/logout">Log Out</a></p>
