<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>Hello <%= @user.username %></p>
<p>Balance: <%= @user.balance %></p>

<h2>Update Your Account</h2>
<form method="post" action="/balance_update">
  <input type="radio" value="Withdraw" name="withdraw">Withdraw</input>
  <input type="radio" value="Deposit" name="deposit">Deposit</input>
  <input type="text" name="amount">
  <input type="submit" value="submit">
</form>


<p><a href="/logout">Log Out</a></p>
