<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>Your current balance is: $<%= current_user.balance %></p>

<p><a href="/withdraw">Withdraw</a></p>
<p><a href="/deposit">Deposit</a></p>

<p><a href="/logout">Log Out</a></p>
