<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>Your Balance = <%= current_user.balance %></p>

<form action="/balance" method="post">
  <p>Deposit: <input type="text" name="deposit"></p>
  <p>Withdrawal: <input type="text" name="withdrawal"></p>
  <input type="submit" value="submit">
</form>

<p><a href="/logout">Log Out</a></p>
