<h1>Welcome <%=current_user.username%></h1>

<p>We are currently working on your account.</p>

<% if current_user %>

<p>Your Original Starting Balance was: $0 </p>
<label> Enter Your Deposit<input type="integer" name="Amount" placeholder="Amount"></label>


<input type="submit" value="Calculate">

<%end%>


<p><a href="/logout">Log Out</a></p>
