<h1>Welcome <%=@user.username%></h1>

<h2>Your Balance: <%=@user.balance%></h2>

<form method="POST" action="/deposit">
  Deposit: <input type="text" name="deposit"> <input type="submit">
</form>

<form method="POST" action="/withdrawl">
  Withdrawl: <input type="text" name="withdrawl"> <input type="submit">
</form>

<p><a href="/logout">Log Out</a></p>
