<h1>Welcome <%= session[:username] %></h1>

<p><h3>Your Balance is <%= session[:balance] %></h3></p>

<p><a href="/deposit">Make A Deposit</a></p>

<p><a href="/withdrawal">Make A Withdrawal</a></p>

<p><a href="/logout">Log Out</a></p>
