<h1>Welcome <%=@user.username%></h1>

<h3>Your current balance is <%=@user.balance%></h3>

<h5>Account options</h5>
<ul>
  <li><a href="/withdraw">Withdraw</a></li>
  <li><a href="/deposit">Deposit</a></li>
</ul>

<p><a href="/logout">Log Out</a></p>
