<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<h2>Your account details</h2>
<h2>Session <%= session[:user_id] %></h2>
<h2>Current User: <%= current_user.username %></h2>
<h2>Current Balance $: <%= current_user.balance %></h2>


<p><a href="/logout">Log Out</a></p>
