<h1>Welcome, <%= @user.username %></h1>

Your balance is currently: $<%= @user.balance %>
<form action="/deposit" method="post">
  How much would you like to deposit? <input type="text" name="deposit" placeholder="Amount:">
  <input type="submit" value="submit">

</form>
<form action="/withdraw" method="post">
  How much would you like to Withdraw? <input type="text" name="withdraw" placeholder="Amount:">
  <input type="submit" value="submit">
</form>
<p><a href="/logout">Log Out</a></p>
