<h1>Welcome <%=current_user.username%></h1>

<p>We are currently working on your account.</p>

<p>Your current balance is:<br>
<%=current_user.balance%>
</p>

<p><a href="/deposit">Make a Deposit</a></p>
<p><a href="/withdrawal">Make a Withdrawal</a></p>

<p><a href="/logout">Log Out</a></p>
