<h1>Welcome <%= @user.username %></h1>

<h2>Your Current Balance is: <%= Money.us_dollar(@user.balance).format %></h2>

<h3><a href="/deposit">Deposit Funds</a></h3>
<h3><a href="/withdraw">Withdraw Funds</a></h3>

<p><a href="/logout">Log Out</a></p>
