<h1>Welcome <%= @user.username %></h1>

<h3>Your Current Balance is: <%= @user.balance %></h3>

<p>We are currently working on your account.</p>

<!-- <p>Deposit: <input type="decimal" name="deposit"><button>Deposit</button></p>
<p>Withdrawl: <input type="decimal" name="withdrawl"><button>Withdrawl</button></p> -->

<p><a href="/logout">Log Out</a></p>
