<h1>Welcome <%= current_user.username %>!</h1>
We are currently working on your account.

<h3>Your current balance: $ <%= current_user.balance %></h3>
<form action="/account" method="post">
  <h4>Make a withdrawal:</h4>
  <input type="text" name="withdraw">
  <input type="submit" value="Withdraw"><br>
  <h4>Make a deposit:</h4>
  <input type="text" name="deposit">
  <input type="submit" value="Deposit">
</form>

<p><a href="/logout">Log Out</a></p>
