<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<form action="/account" method="post">
  <h2>Make a Deposit or Withdrawal</h2>
  <h3>Make a Deposit:</h3>
  <input type="float" name="deposit" placeholder="deposit" />
  <input type="submit" value="Deposit"/>
  <input type="float" name="withdrawal" placeholder="withdrawal" />
  <input type="submit" value="Withdraw"/>
</form>


<p><a href="/logout">Log Out</a></p>
