<h1>Welcome <%= current_user.username %></h1>

<h3>Your current balance is: $<%= [@deposit, current_balance].sum %></h3>

<br>

<p>Make a deposit below:</p>
<form action='/deposit' method="POST">
  <input type="text" name="deposit" placeholder="Deposit:">
  <input type="submit" value="Submit">
</form>

<p>Make a withdrawal below:</p>
<form action='/withdrawal' method="POST">
  <input type="text" name="withdrawal" placeholder="Withdrawal:">
  <input type="submit" value="Submit">
</form>

<br>

<p><a href="/logout">Log Out</a></p>
