<h1>Welcome</h1>

<p>Your balance is: $<%= @user.balance.to_s %></p>

<p><a href="/deposit">Make a Deposit</a></p>
<p><a href="/withdrawal">Make a Withdrawal</a></p>
<p><a href="/logout">Log Out</a></p>
