<h1>Welcome <%= @user.username %> </h1>

<p>
  We are currently working on your account.
</p>

<p>Current Balance: <%= @user.balance %></p>
<br>
<h3>Deposit Money</h3>
<form action="/deposit" method="post">
  <p>
    Amount: <input type="text" name="deposit_amount">
  </p>
  <input type="submit" name="submit" value="Make Deposit">
</form>

<h3>Withdraw Money</h3>
<form action="/withdraw" method="post">
  <p>
    Amount: <input type="text" name="withdraw_amount">
  </p>
  <input type="submit" name="submit" value="Make Withdrawal">
</form>

<p><a href="/logout">Log Out</a></p>
