<h1>Welcome <%= current_user.username %>!</h1>

<h2>Current Balance: $<%= current_user.balance %></h2>
<h3>Make a Deposit:</h3>
<form method="post" action="/account/deposit">
  <p><label for="amount">Amount: </label><input type="text" name="amount"></p>  
  <p><input type="submit" value="Make Deposit"></p>
</form>

<p><a href="/logout">Log Out</a></p>
