<h1>Welcome, <%=@user.username%></h1>

<p>Your balance is <%=@user.balance%>.</p>

<form action="/account" method="POST">
  <input type="text" name="deposit" placeholder="deposit">
  <input type="text" name="withdraw" placeholder="withdraw">
  <input type="submit" value="update account">
</form>

<h4><%=@message%></h4>

<p><a href="/logout">Log Out</a></p>
