<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>Your balance is currently <%= @user.balance_to_currency %>.</p><br>

<a href="/account/deposit">Make a Deposit</a><br>
<a href="/account/withdraw">Make a Withdraw</a>



<p><a href="/logout">Log Out</a></p>
