<h1>Welcome</h1>

<p>We are currently working on your account.</p>
  <form action="/account" method="POST">
    Deposit Money <input type="deposit" name="username" placeholder="Deposit Amount $"> <br><br>
    Withdraw Money <input type="withdrawal" name="password" placeholder="Withdrawal Amount $"><br><br>

  </form>
<p><a href="/logout">Log Out</a></p>
