<% if logged_in? %>

  <h1> Welcome <%= current_user.username %> </h1>
  <p> We are currently working on your account.</p>

  <p> Your current balance is: <%= current_user.balance %> </p>

  <form action="/account/deposit" method="post">
  <p>Deposit ca$h money into your account:</p>
  <label for="amount">Deposit amount:</label>
  <input type="number" name="amount" id="amount" placeholder="amount">
  <button type="submit">DEPOSIT</button>
  </form>

  <form action="/account/withdraw" method="post">
  <p>Withdraw ca$h money from your account:</p>
  <label for="amount">Withdrawal amount:</label>
  <input type="number" name="amount" id="amount" placeholder="amount">
  <button type="submit">WITHDRAW</button>
  </form>

<% end %>

<p><a href="/logout">Log Out</a></p>
