<h2>Welcome <%=@user.username%>,</h2>

<p>Your current balance is: $<%=sprintf("%.2f", @user.balance)%></p>

<a href="/account/deposit">Deposit</a>
<br>
<a href="/account/withdraw">Withdraw</a>

<p><a href="/logout">Log Out</a></p>
