<h1>Welcome</h1>

<h3>Current Balance: <%=@user.balance%></h3>


<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Change Balance
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Deposit</a></li>
    <li><a href="#">Withdraw</a></li>
  </ul>
</div


<p>We are currently working on your account.</p>



<p><a href="/logout">Log Out</a></p>
