<h1>Welcome</h1>
<h3><%= @user.username %></h3>
<p>We are currently working on your account.</p>
<p>Your account balance is <%= @balance %></p>
<form method="post" action="/deposit">
<p><label for="deposit">Make a deposit: <input type="text" name="deposit" placeholder="how much?"></label></p>
<input type="submit" value="Deposit">
</form>
<br>

<form method="post" action="/withdraw">
<p><label for="withdraw">Make a withdrawal: <input type="text" name="withdrawal" placeholder="how much?"></label></p>
<input type="submit" value="Withdraw">
</form>
<br> 
<p><a href="/logout">Log Out</a></p>
