
  <h1>Welcome <%=@user.username%></h1>
  <h3>We are currently working on your account.</h3>

  <h3>Your Balance: <%=@user.balance%></h3>
  <h3>Below, you can make a withdrawal or deposit:</h3>
  <form method="post" action="/deposit">
    <h4>Deposit Amount: <input type="text" name="deposit_amount"></h4>
    <input type="submit" value="deposit">
  </form>
  <form method="post" action="/withdrawal">
    <h4>Withdrawal Amount: <input type="text" name="withdrawal_amount"></h4>
    <input type="submit" value="withdraw">
  </form>
  <br><br>
  <a href="/logout">Log Out</a>
