<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<p><strong>Username:</strong> <%= current_user.username %></p>
<p><strong>Current Balance:</strong> $<%= current_user.balance %></p>

<form action="/transaction" method="post">
  <input type="text" name="post[withdrawal]" placeholder="Withdrawal" style="padding:10px"><br>
  <input type="text" name="post[deposit]" placeholder="Deposit" style="padding:10px"><br>
  <input type="submit" value="Submit">
</form>

<p><a href="/logout">Log Out</a></p>
