<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<!-- <p>Your current balance is $<%= current_user.balance %></p>

<p>Make a deposit:</p>
  <form action="/deposit" method="post">
    <input type="integer" name="amount">
    <input type="submit" name="Confirm">
  </form>
<p>Make a withdrawal:</p>
  <form action="/withdrawal" method="post">
    <input type="integer" name="amount">
    <input type="submit" name="Confirm">
  </form> -->

<p><a href="/logout">Log Out</a></p>
