<h1>Welcome</h1>

<p><%="Hello, your current balance is $#{@user.balance.to_s}"%></p>

</br>

<p><a href="/deposit">Make a Deposit</a></p>
<p><a href="/withdrawal">Make a Withdrawal</a></p>

<p><a href="/logout">Log Out</a></p>

<footer>We are currently working on your account.</footer>