<h1>Welcome</h1>

<h4>Your current balance is: $<%= @user.balance %></h4>
<p>Make a <a href="/deposit">deposit.</a></p>
<p>Make a <a href="/withdrawal">withdrawal.</a></p>
<p><a href="/logout">Log Out</a></p>
