<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<h3>Hi <%= current_user.username.capitalize %></h3>

<p>Your Current Balance is $<%= current_user.balance.round(2) %></p>

<form action="/deposit" method="post">
  <input type="number" step="0.01" name="deposit" placeholder="Deposit Amount">
  <input type="submit" value="Deposit">
</form>
<br>
<form class action="/withdraw" method="post">
  <input type="number" step="0.01" name="withdraw" placeholder="Withdraw Amount">
  <input type="submit" value="Withdraw">
</form>

<p><a href="/logout">Log Out</a></p>
