<h1>Welcome <%= current_user.username %></h1>

<p>We are currently working on your account.</p>
<h3>Transactions</h3>
<form method="post" action="/deposit">
  <p>Deposit: <input type="text" name="deposit"></p>
  <input type="submit" value="Deposit">
</form>

<form method="post" action="/withdraw">
  <p>Deposit: <input type="text" name="withdraw"></p>
  <input type="submit" value="Withdraw">
</form>

<p><a href="/logout">Log Out</a></p>