<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>At the moment we can only display this information.</p>

<p>Username: <%= @user.username %></p>
<p>Balance: $<%= @user.balance %></p>

<p>Would you like to <a href="/transfer">deposit or withdrawal</a> some money?</p>

<p><a href="/logout">Log Out</a></p>
