<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<p>Your balance is: <%=@user.balance%>

<span>
<button type="submit" value="Withdraw">Withdraw Funds</button>
<button type="submit" value="Add">Add Funds</button>
</span>
<p><a href="/logout">Log Out</a></p>
