<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<h3><%= @user.balance %></h3>

<form class="" action="/account" method="post">
  <input type="submit" name="deposit" value="Deposit">
  <input type="submit" name="withdraw" value="Withdraw">
  <input type="submit" value="submit">
</form>

<p><a href="/logout">Log Out</a></p>
