<h1>Welcome <%= current_user.username%> </h1>

<p>We are currently working on your account.</p>

<p> Your current balance is $<%= current_user.balance%> </p>

<form action="/account" method="post">
  <p>Would you like to make a withdrawal or deposit?</p>
  <label for="withdrawal">Withdrawal:   </label>
  <input id="withdrawal" name="withdrawal" placeholder="Amount:">
  <p></p>
  <label for="deposit">Deposit:   </label>
  <input id="deposit" name="deposit" placeholder="Amount:">
  <p></p>
  <input type="submit" value="Submit">
</form>

<p><a href="/logout">Log Out</a></p>
