<h1>Welcome <%= current_user.username %></h1>

<p>We are currently working on your account.</p>

<h3>Your current balance is: $<%= current_user.balance %></h3>

<form action="/deposit" method="post">
  <label for="deposit">Deposit Amount: $</label>
  <input type="number" name="deposit">

  <input type="submit" name="Deposit">
</form>
<br>
<form action="/withdrawal" method="post">
  <label for="withdrawal">Withdrawal Amount: $</label>
  <input type="number" name="withdrawal">

  <input type="submit" name="Withdraw">
</form>

<p><a href="/logout">Log Out</a></p>
