<h1>Welcome <%= @user.username %>!</h1>

<h3>Hello,</h3>
<p>Your Account Balance is: $<%= @user.balance %></p>
<% if @insuf_bal %>
  <p>You do not have sufficient Balance in your account to make that withdrawal</p>
<% end %>
<form class="" action="/deposit" method="post">
  <p>Make a deposit: <input type="text" name="deposit" value="">
  <input type="submit" name="submit" value="Deposit"></p>
</form>

<form class="" action="/withdrawal" method="post">
  <p>Make a withdrawal: <input type="text" name="withdrawal" value="">
  <input type="submit" name="submit" value="Withdraw"></p>
</form>

<p><a href="/logout">Log Out</a></p>
