<h2>Transaction Complete!</h2>

<p><%= @user.username.capitalize %> you just withdrawaled $<%= @withdrawal %>.</p>


<a href="/account">Go back to Account.</a>
<br>
<a href="/transfer">Go back to Transfer.</a>