<% if logged_in? %>

<h1> Deposit or Withdraw:</h1>



<p> Welcome <%= @user.username %>. Select your transaction:</p>
<p> Available balance: <%= @user.balance %></p><br>
<form action="/dep_with" method="POST">
Deposit: $<input type="integer" name="deposit"><br>
Withdraw: $<input type="integer" name="withdraw"><br>
<input type="submit">
</form>
<% else %>

<h1> Looks like there was a problem logging in. </h1>
<h3> Please <a href="/login">try again.</a> </h3>


<% end %>
