<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>deposit</title>
  </head>
  <body>

    Your new balance is: $<%= @user.balance %>
    <a href="/account">Account info</a>
    <a href="/logout">Logout</a>


  </body>
</html>
