<h2>Deposit Transaction</h2>
<p>Insert amount to deposit:</p>
<form action="/deposit" method="POST">
  <input type="text" pattern="[0-9]*" name="amount" placeholder="Amount">
  <input type="submit" value="Deposit Amount">  
</form>