<h1>Hello <%= @user[:username] %>, how much would you like to deposit today?</h1>
<form method='post' action='/deposit'>
    <input type='float' name='deposit'>
    <input type='submit' id="submit" value='submit'>
</form>