<h1><%= @user.username %></h1>

<h2>Your Balance: <%= @user.balance %></h2>
<form class="Deposit" action="/deposit" method="post">
  <label for="deposit">Deposit: $<input type='number' name='deposit' placeholder='0.00' step='0.01' min='0.01'></label>
  <input type="submit" name="submit" value="submit">
</form>
