<form action="/account/deposit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="deposit_amount" placeholder="Amount to Deposit">
  <input type="submit" value="Deposit">
</form>
