<h2>How much would you like to deposit?</h2>
<form method="POST" action='/depositing'>
  $<input type="number" name="deposit" step=".01">

  <input type="submit" name="submit" value="Deposit">
</form>