<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deposit</title>
</head>
<body>
  <h1>Welcome to the Deposit page!</h1>
  <h4>Please write how much you are depositing today in the box below</h4>

  <form action="/account" method="POST" />
    <input type="text" name="deposit" placeholder="deposit">
    <input type="submit" value="Deposit">
  </form> 


</body>
</html>