<h1>Make a Deposit</h1>

<p>Current Balance: $<%= @user.balance %></p>
<form action="/deposit" method="POST">
  <p>Enter Deposit Amount: <input type="number" name="deposit_amount"></p>
  <input type="submit" name="submit">
</form>
