<h1>Enter the amount you would like to deposit</h1>
<form method="post" action="/deposit">
  <input type="text" placeholder="Enter Amount" name="deposit">
  <input type="submit" value="submit" name="submit" id="submit">
</form>
