<h1>Make a Deposit</h1>

<form action="/deposit" method="POST">
  <input type="text" name="deposit" placeholder="$">
  <input type="submit" value="Deposit">
</form>

</br>

<a href='/account'>Back</a>

</br>

<a href='/logout'>Logout</a>