<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Invalid Transaction</title>
</head>
<body>
  <h2>Insufficient Funds for Transaction</h2>
  <a href="/success">Account Home</a>
</body>
</html>