<h3>Login</h3>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form>
