<h3>Login</h3>
<form method="POST" action="/login">
  <input name="username" placeholder="Username:" type="text">
  <input name="password" placeholder="Password:" type="password">
  <input type="submit" value="Log In">
</form>
