
<h1>Welcome <%= @user.username %></h1>

<p>Your New Balance: $<%= @user.balance %>0</p>
<form action="/account" method="POST" >
  Please indicate deposit amount: $<input type="text" name="deposit"><br>
  Please indicate withdrawal amount: $<input type="text" name="withdrawal"><br>
  <input type="submit" value="Submit">
</form>

<p><a href="/logout">Log Out</a></p>
