<h1>Previous Balance: $<%= @user.balance + @withdrawal %></h1></br>
<h1>Withdrawal Amount: -$<%= @withdrawal %></h1></br>
<h1>Updated Balance: $<%= @user.balance %></h1></br>
<a href="/account">Click to return to your account homepage</a></br>
<p> or <a href="/deposit">Click to make a deposit</a>
