<h1>Previous Balance: $<%= @user.balance - @deposit %></h1></br>
<h1>Deposit Amount: +$<%= @deposit %></h1></br>
<h1>Updated Balance: $<%= @user.balance %></h1></br>
<a href="/account">Click to return to your account homepage</a></br>
<p> or <a href="/withdrawal">Click to make a withdrawal</a>
