<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <input type="text" name="post[username]" placeholder="Username:">
  <input type="password" name="post[password]" placeholder="Password:">
  <!-- <input type="test" name="post[balance]" placeholder="Balance:"> -->
  <input type="submit" value="Sign Up">
</form>
