<h3>Sign Up</h3>
<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Username:" id="username">
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Password:" id="password">
  <input type="submit" value="Sign Up">
</form>
