<h3>Sign Up</h3>
<form action="/signup" method="POST">
  Username: <input type="text" name="username" placeholder="Username:">
  Password: <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>
