<h3>Success!</h3>
<p>Your <%= @action %> of $<%= @amount %> was successfully processed.</p>
<p>Your updated balance is $<%= @user.balance %>.</p>
<p><a href="/account">Click here</a> to return to your account summary.</p>