<body>
<% if logged_in? %>

<h1>Account Balance:</h1>


<p>Welcome</p><p><%= @user.username %>, your account balance is:</p><br>
<p><%= @user.balance %></p>

<h6><a href="/dep_with">Deposit or Withdraw</a></h6>

<% else %>

<h1> Looks like there was a problem logging in. </h1>
<h3> Please <a href="/login">try again.</a> </h3>

<% end %>
</body>