# I added, but probably not necessary.  It seems erb :success was not tested

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Hi <%=@user.username %></h1>

  </body>
</html>
