<h1>Enter the amount you would like to withdraw or deposit (limit 1 at a time)</h1>
<form method="post" action="/transaction">
  <input type="text" placeholder="Withdrawal Amount" name="withdrawal"><br>
  <input type="text" placeholder="Deposit Amount" name="deposit"><br>
  <input type="submit" value="submit" name="submit" id="submit">
</form>
