<form method="post" action="/account">
  <p>Enter the amount you would like to withdraw.</p>
    <input type="text" name="withdrawl" placeholder="$">
    <input type="submit" value="Withdrawl">
  </form>
