<h1>Welcome <%= @user.username %>!</h1>

<h4>Your balance is currently <%= @user.balance_to_currency %>. How much would you like to withdraw?</h4>
<form action="/account/withdraw" method="post">
  <input type="text" name="withdraw_amount" value="">
  <input type="submit" name="submit" value="submit">
</form>
