<h1>Hello <%= @user[:username] %>, how much would you like to withdrawal today?</h1>
<form method='post' action='/withdrawal'>
    <input type='float' name='withdrawal'>
    <input type='submit' id="submit">
</form>