<h2>Withdrawal</h2>

<p>Current Account Balance: $<%= current_user.balance %></p>

<form method="POST" action="/withdrawal"
<label for="withdrawal">Please enter the withdrawal amount: </label>
<input type="number" id="withdrawal" name="withdrawal">

<input type="submit" value="Submit">
</form>
