<h1>Enter the amount you would like to withdraw</h1>
<form method="post" action="/withdrawal">
  <input type="text" placeholder="Enter Amount" name="withdrawal">
  <input type="submit" value="submit" name="submit" id="submit">
</form>
