<h1>Make a Withdrawal</h1>
<p><%=@direction%></p>

<form action="/withdrawal" method="POST">
  <input type="text" name="withdraw" placeholder="$">
  <input type="submit" value="Withdraw">
</form>

</br>

<a href='/account'>Back</a>

</br>

<a href='/logout'>Log Out</a>
