<h2>Withdraw Transaction</h2>
<p>Insert amount to withdraw:</p>
<form action="/withdraw" method="POST">
  <input type="text" pattern="[0-9]*" name="amount" placeholder="Amount">
  <input type="submit" value="Withdraw Amount">  
</form>