
<form action="/account/withdraw" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="withdraw_amount" placeholder="Amount to Withdraw">
  <input type="submit" value="WithDraw">
</form>
