<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Withdraw Funds</title>
</head>
<body>
  <h1>Make a Withdrawal</h1>
  <form action="/withdraw" method="post">
    <label for="amount">Amount:</label>
    <input type="text" id="amount" name="amount"><br><br>
    <input type="submit" value="Withdraw">
  </form>
</body>
</html>